<div style="width:100%; height:900px;" id="tree"></div>
<script>
  <%= render partial: "red"%>
  <%= render partial: "orange"%>
  <%= render partial: "yellow"%>
  <%= render partial: "green"%>
  <%= render partial: "blue"%>
  <%= render partial: "lavender"%>
  <%= render partial: "beige"%>
  var family = new FamilyTree(document.getElementById("tree"), {
    nodeMouseClick: FamilyTree.action.edit, //edit mode
    editForm: {
            buttons:  {
                pdf: null,
                share: null
            },
            generateElementsFromFields: false,
            elements: [
                { type: 'textbox', label: 'Full Name', binding: 'name'},
                { type: 'textbox', label: 'Nickname', binding: 'nickname'},
                { type: 'textbox', label: 'Year of Birth', binding: 'birth'},
                { type: 'textbox', label: 'Year of Death', binding: 'death'},
                { type: 'select', options: [
                    {value: 'Leon', text: 'Leon'},
                    {value: 'Fernando', text: 'Fernando'},
                    {value: 'Alfredo', text: 'Alfredo'},
                    {value: 'Jose', text: 'Jose'},
                    {value: 'Rosa', text: 'Rosa'},
                    {value: 'Luis', text: 'Luis'},
                    {value: 'Manuel', text: 'Manuel'}]}
                ]
        },
    menu: {
            pdf: { text: "Export PDF" },
            png: { text: "Export PNG" },
            svg: { text: "Export SVG" },
            csv: { text: "Export CSV" },
            json: { text: "Export JSON" },
            export_pdf: {
                text: "Export PDF A4",
                icon: FamilyTree.icon.pdf(24, 24, "#7A7A7A"),
                onClick: pdf,
                layout: 'landscape'
            }
        },
        orientation: FamilyTree.orientation.left,     
        nodeBinding: {
            field_0: "name", 
            field_1: "nickname",
            field_2: "id",
            field_3: "birth",
            field_4: "death"
        },
        tags: {
            beige_female: {template: "beige_female"},
            red_female: {template: "red_female"},
            orange_female: {template: "orange_female"},
            yellow_female: {template: "yellow_female"},
            green_female: {template: "green_female"},
            blue_female: {template: "blue_female"},
            lavender_female: {template: "lavender_female"},
            beige_male: {template: "beige_male"},
            red_male: {template: "red_male"},
            orange_male: {template: "orange_male"},
            yellow_male: {template: "yellow_male"},
            green_male: {template: "green_male"},
            blue_male: {template: "blue_male"},
            lavender_male: {template: "lavender_male"}
        },    
        nodes: [<%= render partial: "member_json", collection: @members %>]
    });
    function pdf(nodeId) {
       family.exportPDF({
            format: "A4",
            padding: 20
       });
    }
</script> 