<td><%=member.id%></td>
<td><%=member.name%></td>
<td><%=member.birth%></td>
<td><%=member.death%></td>
<td><%=member.in_law%></td>
<td><%=member.nicknames%></td>
<td><%=member.parent&.name%></td>
<td><%=member.parent&.id%></td>
<td><%=member.spouse&.name%></td>
<td><%=member.spouse&.id%></td>
