<tr>
<td><%=member.id%></td>
<td><%=member.name%> <%=nicknames(member)%></td>
<td><%=member.birth%></td>
<td><%=member.death%></td>
<td><%=id_name(member.father)%><br/><%=id_name(member.mother)%></td>
<td><%=id_name(member.spouse)%><br/><%=id_name(member.spouse2)%></td>
</tr>
           
            