<td><%=member.id%></td>
<td><%=member.name%> <%=nicknames(member)%></td>
<td><%=member.birth%></td>
<td><%=member.death%></td>
<td><%=member.father&.name%></td>
<td><%=member.mother&.name%></td>
<td><%=member.parent&.name%></td>
<td><%=member.parent&.id%></td>
<td><%=member.spouse&.name%><%=spouse2(member)%></td>
