<div class="col-md-6 col-lg-4 mb-3">
<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title"><%=member.name%></h5>
    <h6 class="card-subtitle text-muted"><%=member.nicknames%></h6>
    <hr class="m-0"/>
    <p class="card-text">
      <table>
      <tr>
        <td>Branch: </td>
        <td><%=branch_badge(member.branch)%></td>
      </tr>
      <tr>
        <td>Birth: </td>
        <td><%=member.birth%></td>
      </tr>
      <tr>
        <td>Death: </td>
        <td><%=member.death%></td>
      </tr>
      <tr>
        <td>Mother: </td>
        <td><%=member&.mother%></td>
      </tr>
      <tr>
        <td>Father: </td>
        <td><%=member&.father%></td>
      </tr>
      <tr>
        <td>Spouse: </td>
        <td><%=member&.spouse%></td>
      </tr>
      <tr>
        <td>Spouse 2: </td>
        <td><%=member&.spouse2%></td>
      </tr>
      </table>
    </p>
    <div class="mb-3 text-end">
      <%= link_to "Edit", edit_member_path(member), class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
</div>