<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <%=render "nav_bar", locals: {page: "new"} %>
    <div class="row">
      <!-- Form controls -->
      <div class="col-md-6">
        <div class="card mb-4" data-controller="members">
          <h5 class="card-header">Edit Member</h5>
          <%= form_with(model: @member) do |form| %>
          <div class="card-body">
            <% if @member.errors.any? %>
            <div class="mb-3">
              <%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:
              <ul>
                <% @member.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
            <%end%>
            <div class="mb-3">
              <%= form.label :branch, "Branch", class: "form-label" %>
              <%= select(:member, :branch, options_for_select([['Luis', 'Luis'], ['Alfredo', 'Alfredo'], ['Jose', 'Jose'], ['Fernando', 'Fernando'], ['Manuel', 'Manuel'], ['Rosa', 'Rosa']], selected: @member.branch), {}, class: "form-select") %>
            </div>
            <div class="mb-3">
              <%= form.label :name, "Name",  class: "form-label" %>
              <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :nicknames, "Nickname",  class: "form-label" %>
              <%= form.text_field :nicknames, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :birth, "Year of Birth",  class: "form-label" %>
              <%= form.number_field :birth, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :death, "Year of Death",  class: "form-label" %>
              <%= form.number_field :death, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :Spouse, "Spouse",  class: "form-label" %>
              <%= form.text_field :spouse, class: "form-control", id: "spouse_auto", "data-field": "spouse1", "autocomplete": "off" %>
              <%= form.hidden_field :spouse_id, class: "id_field", id: "spouse1"%>
            </div>
            <div class="mb-3">
              <%= form.label :father_id, "Father",  class: "form-label" %>
              <%= form.text_field :father, class: "form-control", id: "father_auto", "data-field": "father","autocomplete": "off" %>
              <%= form.hidden_field :father_id, class: "id_field", id: "father"%>
            </div>
            <div class="mb-3">
              <%= form.label :mother_id, "Mother",  class: "form-label" %>
              <%= form.text_field :mother, class: "form-control", id: "mother_auto", "data-field": "mother","autocomplete": "off" %>
              <%= form.hidden_field :mother_id, class: "id_field", id: "mother"%>
            </div>
            <div class="form-check mb-3">
                <%= form.check_box :in_law, class: "form-check-input" %>
                <%= form.label :in_law, "In Law", class: "form-check-label" %>
            </div>
            <div class="mb-3 text-end">
              <%= form.submit "Save", class: "btn btn-outline-primary"%>  
            </div>
          </div>
          <%end%>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Important!</h3>
        Referential integrity is important to generate the family tree. <br/>
        When entering names of relations (Mother, Father and Spouse), that member must be created first. <br/>
        Type the name of the relation and <b>CLICK</b> the autocomplete option. <br/>
        Entering the name of the relation alone will not save the connection between the members in the family tree.
      </div>
    </div>
  </div>
</div>



