<p style="color: green"><%= notice %></p>

<h1><%=@title%></h1>
<div id="members">
  <table>
    <tr><td>ID</td><td>Name</td><td>Birth</td><td>Death</td><td>Father</td><td>Mother</td><td>Spouse</td></tr>
  
  <% @members.each do |member| %>
    <tr id="<%= dom_id member %>">
    <%= render member %>
    <td><%= link_to "Edit", edit_member_path(member) %></td>
  </tr>
  <% end %>
  </table>
</div>

<%= link_to "New member", new_member_path %>